<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <h1>To Do List</h1>

    <ol>
      <% lists.forEach((el, ind) => { %>
      <a href="/todo/<%= ind %>"> <li><%= el.toDo %></li></a>
      <%})%>
    </ol>

    <a href="/todo/new"> create new List </a>
  </body>
</html>
