<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <h1>new item</h1>
    <form action="/todo" method="post">
      <label for="name"> To Do </label>
      <input type="text" name="toDo" id="toDo" />

      <label for="description"> Description</label>
      <input type="text" name="description" id="description" />

      <input type="submit" value="create new list" />
    </form>
    <%- include('./partials/footer') %>
  </body>
</html>
