<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>new item</h1>
    <form action="/todo" method="post">
      <label for="name"> To Do </label>
      <input type="text" name="toDo" id="toDo" />

      <label for="description"> Description</label>
      <input type="text" name="description" id="description" />

      <label for="isDone"> Done</label>
      <input type="checkbox" name="isDone" id="isDone" />

      <input type="submit" value="create new list" />
    </form>
  </body>
</html>
