<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View ToDo</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="view-container">
      <% if (list) { %>
      <h1><%= list.toDo %></h1>
      <p>
        <strong>Description:</strong>
        <%= list.description || 'No description provided.' %>
      </p>
      <% } %>

      <div class="buttons">
        <a href="/todo/<%= parm %>/edit" class="btn">Edit</a>
        <a href="/todo" class="btn" style="background-color: #007bff">Home</a>
      </div>
    </div>
  </body>
</html>
